* {
    font-size: 25px;

}

body {
    background-color: #dbddff !important;
    display: grid;  
    justify-content: center;  
    
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size:8vw;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 30px;
  }

ul {
    list-style-position: inside;
      
    padding: 10px;
    margin: 300px auto;
    width: 50%;
}

li {
    list-style-type: none;
    background: linear-gradient(75deg, #ccffff, #ffccff);
    border: 5px solid black;
    margin: 1px;
    padding: 10px;
    border-radius:15px;
    border: 1px solid rgb(47, 39, 39);
}

li:hover {
    background: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

button {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin: auto;
    
    
}

/*responsive*/
@media (max-width: 1020px) {
    h1 {
        font-size:15vw;
        font-weight: bold;
    }

    ul {
      width: 100%;
    }
